* {
    padding: 0;
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.component-container {
    display: flex;
    height: fit-content;
    border-radius: 30px;
    width: 47%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;

    
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom left, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    align-items: center;
    padding: 7%;
    border-radius: 30px;
    width: 270px;
}

.result-title {
    font-size: 22px;
    color: hsl(241, 100%, 89%);
    font-weight: 500;
    margin-bottom: 30px;
}

.result-number-container {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.your-result-number {
    font-size: 65px;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
}

.main-result-number {
    color: hsl(241, 100%, 89%);
    font-weight: 500;
}

.rate {
    font-size: 25px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin-bottom: 10px;
}

.rate-description {
    font-size: 18px;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
    text-align: center;
    margin-bottom: 10px;
}

.summary-container {
    display: flex;
    flex-direction: column;
    padding: 7%;
    width: 270px;
}

.summary-title {
    font-size: 22px;
    color: hsl(224, 30%, 27%);
    font-weight: 700;
    margin-bottom: 20px;
}

.box-summary-detail {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin-bottom: 15px;
    border-radius: 7px;

}

.detail-name {
    display: flex;
    gap: 10px;
    font-weight: 700;

}

.reaction {
    background-color: hsl(0, 100%, 97%);
}

.reaction .detail-name {
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsl(39, 100%, 97%);
}

.memory .detail-name {
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsl(166, 100%, 97%);
}

.verbal .detail-name {
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsl(234, 85%, 97%);
}

.visual .detail-name {
    color: hsl(234, 85%, 45%);
}

.detail-result {
    font-weight: 700;
    color: gray;
}

.detail-result-your b{
    color: hsl(224, 30%, 27%);
}

.button {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    margin-top: 30px;
    background-image: linear-gradient(to bottom left, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

